page-feedbacktitle {

    ion-header{

        #profile-name{
            position: relative;
            top: -40px;
            left: 41%;
            color: color($colors, light);;
        }
        .profile-pic{
            margin: -20px 0px 5px 60px;
    //             margin-top: -20px;
    // margin-bottom: 5px;
            width: 85px;
            height: 85px;
            object-fit: cover;
            border-radius: 70px;
            position: relative;
            top: 40px;
            left: -30px
            
        }

        .profile-name{
            color: color($colors, light);
            margin-top: 0;
            font-size: 1.5em;
            position: relative;
            top: 40px;
        }
        .username{
            position:relative;
            top:30px;
            color: color($colors, light);
        }

            .profile-container{
            position: relative;
            top: -50px;
            text-align: center;
            z-index: 0;
        }
            .profile-blur {
          position: fixed;
          left: 0;
          right: 0;
          z-index: -1;
          display: block;
          background-image: url("https://firebasestorage.googleapis.com/v0/b/eoko-cc928.appspot.com/o/profiles%2Fdefault_avatar.jpg?alt=media&token=761a4187-2508-44fb-994c-9bd0b6842181");
          width: 100%;
          height: 230px;
          background-repeat: no-repeat;
        background-size:cover !important;
        background-position-y: 40% !important;


          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          filter: blur(5px);
        }      
    }
    ion-content{
  background: linear-gradient(to bottom, #93dbf2 0%, #b3bde2 100%) !important;
   //  	   .scroll-content{
   // 		background: linear-gradient(to bottom, #93dbf2 0%, #b3bde2 100%) !important;
   // }
   //      background: linear-gradient(to bottom, #93dbf2 0%, #b3bde2 100%) !important;
   // .content-ios{
   //    background: linear-gradient(to bottom, #93dbf2 0%, #b3bde2 100%) !important;
   // }
   .fixed-content {
      background: linear-gradient(to bottom, #93dbf2 0%, #b3bde2 100%) !important;
   }

    }

}
