page-login {
  ion-header{

  }
  ion-content{

    .Login-Register-Button{
      text-align: center;

    }
    .password_field{
      padding-bottom: 80px;

    }
    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height:auto;


    }
  }


}
