page-searchuser {
  /*.button{
    background-color:#F57C00;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    display: block;
    text-align: center;
    margin:0 auto;
    margin-top: 5px
  }
	*/

	.toolbar-ios ion-title{
		padding: 0px 10px 0px 20px;
	}
	ion-content{
		    background: $app-background;
	}
ion-card{
	height: 50px;
}
	#A1{
		color:  color($colors,primary);
		display: block;
		position: relative;
		top: -20px;
		left: 18%;
	}
	#A2{
		display: block;
		position: relative;
		top: -20px;
		left: 18%;
	}
	#A3{
		display: block;
		position: relative;
		margin: auto;
		color:#4c4f47;
		height: 30px;
	}
		img{
	 	position: relative;
		width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 70px;
        display: block;
        top: 10px;
	}
	ion-item{
		height: 50px;
	}
}
