page-register {
  .error-message {
    color: #00ba99;
    font-family: Roboto;
    text-align: center;
    }
   .button{
     background-color:#00ba99;
     display: block;
     text-align: center;
     margin:0 auto;
     margin-top: 5px
   }
  // .button {border-radius: 12px;}
}
