page-register {
  .error-message {
    color: #00ba99;
    font-family: Roboto;
    text-align: center;
    }
   .button{
     display: block;
     text-align: center;
     margin:0 auto;
     margin-top: 5px
   }
   .terms{

     text-align: center;

 }
    .Terms-of-Agreement{
    ion-item{
      ion-label{
        button{
          float:left;
        }


      }
    }
  }
  // .button {border-radius: 12px;}
}
