page-message {

    .img-loaded + ion-spinner {
        display:none;
      }
    h2{
    			color: color($colors,primary);
    }
     .menu-button{
    position: relative;
    right: 290px;
    background-color: white;
    color: color($colors, primary) !important;
    height: 20px;
    width: 100px;
  }
}
