page-message {
      ion-content{
    background: $app-background;
}
    .img-loaded + ion-spinner {
        display:none;
      }
    h2{
    			color: color($colors,primary);
    }
    .menu-button{
    background-color: white;
    color: color($colors, primary) !important;
    height: 20px;
    width: 80px;
    margin: auto;
  }
  
}
