page-feedback {

	ion-header{
		
		.toolbar-ios .segment-button{
			height: 3rem;
			font-size: 1.7rem;
			line-height: 3rem;
		}

		.segment-button-left{
			// color: color($colors, light) !important;
			max-width: 100% !important;
			border: none !important;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			border-top-right-radius: 10px !important;
		}

		.segment-button-right{
			// color: color($colors, light) !important;
			max-width: 100% !important;
			border: none !important;
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
			border-top-left-radius: 10px !important;
		}
	}

	#A img{
		position: relative;
		display: block;
		width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 70px;
        top: 20px;
	}

	ion-item{
		height: 80px;
	}
	#A1{
		display: block;
		position: relative;
		left: 100px;
		color: color($colors,primary);
		top: -30px;
	}
	#A2{
		display: block;
		position: relative;
		left: 100px;
		top: -30px;
	}
	#A3{
		display: block;
		position: relative;
		left: 0px;
		top: 0px;
	}
	ion-list{
		border-color: #00ba99;
	}
	 .menu-button{
    position: relative;
    right: 310px;
    background-color: white;
    color: color($colors, primary) !important;
    height: 20px;
    width: 80px;
  }

}
