<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Feedback
    </ion-title>
  </ion-navbar>
  <ion-toolbar color = "primary">
  	<ion-segment>
  		<!--><ion-segment-button value="Public" (click) = "clickPub()"  class = "segment-button-left">Public</ion-segment-button>
  		<ion-segment-button icon-only style = "color:white;" (click) = "toSendfeed()">
  			<ion-icon name = 'add-circle' center></ion-icon>
  		</ion-segment-button>
      <-->
  		<ion-segment-button style="color: white;" value="Anonymous" Anonymous (click) = "clickAnnon()"  class = "segment-button-right"> Anonymous </ion-segment-button>
  	</ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-fab right bottom (click) = "clickPub()" >
  <button ion-fab (click) = "toSendfeed()" >
    <ion-icon name = "noted-logo"></ion-icon>
  </button>
</ion-fab>

  <ion-refresher pulling-text="Pull to refresh..." (ionRefresh) = "doRefresh($event)">
     <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div id = "A">
        <ion-list>
          <ng-container *ngFor = "let mes of curList">
              <ion-item-sliding  >
              <ion-item>
                <ng-container  >      
                    <img [src] = 'mes.photourl' (click) = "clickMessage(mes)"> 
                    <h2 id= "A1" (click) = "clickMessage(mes)">{{mes.title}}</h2>
                    <p id = "A2" (click) = "clickMessage(mes)">from {{mes.firstname}} {{mes.lastname}}
                      <span id = "A3" >@{{mes.username}}</span>
                    </p>
                    
                </ng-container>
          
                <ion-icon item-end name="ios-arrow-down-outline" color="primary" (click) = "activateDropdown(mes)"></ion-icon>
                
              </ion-item>
              <ion-item-options>
                <button ion-button (click)= "deleteMes(mes)">Delete</button>
              </ion-item-options>
              </ion-item-sliding>
              <ion-card *ngIf="mes.dropdown">
                  <ion-card-content>{{mes.message}}</ion-card-content>
                </ion-card>

          </ng-container>
        </ion-list>
    </div>
  </ion-content>
