page-feedback {
	ion-header{
		.bar-header {
    		border: 0px !important;
    		border-bottom-color: transparent !important;
    		background-image: none !important;
    		border-bottom: none !important;
		}
		.toolbar-ios .segment-button{
			max-width: 100% !important;
			border: none !important;
			height: 3rem;
			font-size: 1.7rem;
			line-height: 3rem;
			
		}
		.segment-button-right{
			border-top-left-radius: 10px !important;
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
		.segment-button-left{
			border-top-right-radius: 10px !important;
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;
		}
		.menu-button{
	    	background-color: white;
	    	color: color($colors, primary) !important;
	    	height: 20px;
	    	width: 80px;
	    	margin: auto;
  		}
	}
	ion-content{
		// ion-fab img{
		// 	width: 60px;
		// 	height: 60px;
		// }
		// ion-icon{
		// 		font-size: 3.2em;
		// 		border-radius: 30px;
		// 	    position: sticky;
		// 	    display: block;
		// 	    top: 460px;
		// 	    z-index: 2;
		// 	    left: 280px;	
		// }
		.feedback-cards{
			position: relative;
				ion-avatar img{
					position: relative;
					width: 50px ; 
		        	height: 50px ;
		        	object-fit: cover ;
		        	border-radius: 70px ;
		        	top: 20px ;
				}
			.title-pic-container{
				position: relative;
			    left: 100px;
			    top: -20px;

				.title-and-name{
					left: 100px ;
					top: -30px ;			
				}
				#user-name{
					left: 0px ;
					top: 0px ;
				}
			}
		}
		ion-list{
			border-color: #00ba99;
		}
		ion-item{
			height: 80px;
		}
	}
}
