page-feedback {

	  ion-content{
   	 background: $app-background !important;
	}
  
	ion-header{
		// .toolbar-content-ios {
		// 	height: px;
		// }
		ion-navbar{
			#Listen-Up{
					margin-top: 2rem;
				    font-size: 2.5rem;
				    width: 50%;
				    float: right;
				    position: relative;
				    top: -7px;
				    left: -55px;
				    color: color($colors,primary);
			}
		}
		.bar-header {
    		border: 0px !important;
    		border-bottom-color: transparent !important;
    		background-image: none !important;
    		border-bottom: none !important;
		}
		.toolbar-ios .segment-button{
			max-width: 100% !important;
			border: none !important;
			height: 3rem;
			font-size: 1.7rem;
			line-height: 3rem;
			
		}
		.segment-button-right{
			border-top-left-radius: 10px !important;
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
		.segment-button-left{
			border-top-right-radius: 10px !important;
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;
		}
		// .menu-button{
	 //    	background-color: white;
	 //    	color: color($colors, primary) !important;
	 //    	height: 20px;
	 //    	width: 80px;
	 //    	margin: auto;
  // 		}

  			.menu-button{
  				font-size: 2em;
  			}

	}
	ion-content{  
    background: $app-background;
    	.item-ios{
    		color: gray;
    		background-color: transparent;
    	}
		.feedback-cards{
			ion-card{
			background-color: transparent !important;
						}
			position: relative;
				ion-avatar img{
					position: relative;
					width: 50px ; 
		        	height: 50px ;
		        	object-fit: cover ;
		        	border-radius: 70px ;
		        	top: 20px ;
				}
			.title-pic-container{
				position: relative;
			    left: 100px;
			    top: -20px;

				.title-and-name{
					left: 100px;
					top: -30px;

				p{
					position: relative !important;
				    top: 20px !important;
				    color: gray;
				}
				}
				#user-name{
					color: #b5b1ad;		
					left: 0px ;
					top: 0px ;
				}
			}
		}
		ion-list{
			border-color: #00ba99;
		}
		ion-item{
			height: 80px;
		}
		.message-content{
			color: gray;

		}
	}
.list-ios ion-item-sliding {
	background-color: transparent !important;
}
.card-ios{
	    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.item-divider {
  border-color: gray;
}
}
