page-profile {
	.toolbar-background{
		background-color: #15a88b;
	}
	ion-navbar{
		height: 50px;
	}
	ion-title{
		font-family: "Comic Sans MS"
	}
	 .profile-photo{
		margin: auto;
		width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 70px;
        display: block;
	}

	.first-still{
		margin: auto;
		display: block;
		padding-top: 3em;
	}

  h2{
  	text-align: center;
		color: #00ba99;
  }

  .profile{
     border-radius: 50%;
  }
  #A1{
  	position: relative;
  	top: 10px;
  	color: #55575b;
  }

}
