page-sendfeed {
   .swiper-pagination-bullets {
    left: none !important;
    bottom: none !important;
    width: none !important;
}
    ion-header{

        #profile-name{
            position: relative;
            top: -2.5em; /* 40/16 */
            left: 41%;
            color: color($colors, light);;
        }
         #Block-Button{
                font-size: 1.25em; /* 20/16 */
                float: right;
                top: -2.9375em; /* 47/16 */
                background-color: transparent;
                color: white;
        }
        

        .profile-pic{
            margin: -1.25em 0em 0.3125em 3.75em; /* 20/16 */ /* 0/16 */ /* 5/16 */ /* 60/16 */
    //             margin-top: -1.25em; /* 20/16 */
    // margin-bottom: 0.3125em; /* 5/16 */
            width: 5.3125em; /* 85/16 */
            height: 5.3125em; /* 85/16 */
            object-fit: cover;
            border-radius: 4.375em; /* 70/16 */
            position: relative;
            top: 2.5em; /* 40/16 */
            left: -1.875em /* 30/16 */
            
        }

        .profile-name{
            color: color($colors, light);
            margin-top: 0;
            font-size: 1.5em;
            position: relative;
            top: 1.5em; /* 40/16 */
        }
        .username{
            position:relative;
            top:1.3em; /* 30/16 */
            color: color($colors, light);
        }

            .profile-container{
            position: relative;
            top: -3.125em; /* 50/16 */
            text-align: center;
            z-index: 0;
        }
            .profile-blur {
          position: fixed;
          left: 0;
          right: 0;
          z-index: -1;
          display: block;
          background-image: url("https://firebasestorage.googleapis.com/v0/b/eoko-cc928.appspot.com/o/profiles%2Fdefault_avatar.jpg?alt=media&token=761a4187-2508-44fb-994c-9bd0b6842181");
          width: 150%;
          height: 14.375em; /* 230/16 */
          background-repeat: no-repeat;
        background-size:cover !important;
        background-position-y: 20% !important;


          -webkit-filter: blur(0.625em); /* 10/16 */
          -moz-filter: blur(0.625em); /* 10/16 */
          -o-filter: blur(0.625em); /* 10/16 */
          -ms-filter: blur(0.625em); /* 10/16 */
          filter: blur(0.625em); /* 10/16 */
        }
        
            
    }


    ion-content{

        position: relative;
        top: -1.25em; /* 20/16 */

        .anonymous-toggle{
            color: color($colors,primary); 
            margin-right: 9rem;
            padding-right: 1.875em; /* 30/16 */
            padding-left: 3.125em; /* 50/16 */
            position: relative;
            top: -8.75em; /* 140/16 */

        }
        .private-public{
            ion-icon{
                font-size: 3rem;
            }
            position: relative;
            top: -8.125em; /* 130/16 */
            left: -10%;

            // #feedback {
            //       background-position: center;
            //       transition: background 0.8s;
            // }
            // #feedback {
            //       color: white;
            //       background-color: color($colors, primary);;
            //       background-size: 100%;
            //       transition: background 0s;
            // }
            #feedback{
                color: color($colors, light);
                width: 30%;
                height: 4.375em; /* 70/16 */
                background-color: color($colors, blue);
                left: 1.875em; /* 30/16 */
                padding-right: 30%;
                border-radius: 1.25em; /* 20/16 */
                h1{
                    font-size: 1.8rem;
                    margin-top: -1.5rem;
                    margin-left: 40%;
                    position: fixed;
                }
                h2{
                    font-size: 1.5rem;
                    color: black;
                    margin-top: 1rem;
                    position: fixed;
                    margin-left: 40%;
            }
        }
            #review{
                    color: #ffffff;
                    padding-right: 30%;
                    height: 4.375em; /* 70/16 */
                    width: 1.25em; /* 20/16 */
                    left: 10%;
                    border-radius: 1.25em; /* 20/16 */
                h1{
                    margin-top: -1.5rem;
                    font-size: 1.8rem;
                    margin-left: 40%;
                    position: fixed;

                }
                h2{
                    font-size: 1.5rem;
                    color: black;
                    position: fixed;
                    margin-left: 40%;
                    margin-top: 1rem;
                }
            }
        
    }
            .reviews{
            position: fixed;
            top: 10em; /* 160/16 */
            color: color($colors, primary);
            ion-card{
                color: black;
            }
        }
            .text-inputs{
            color: black;
            padding-left: 3.75em; /* 60/16 */
            padding-right: 2.9375em; /* 47/16 */

            .messageBox{
                width: 100%;
                height: 12.5em; /* 200/16 */
                border: 1em solid;
                border-radius: 0.3125em; /* 5/16 */
            }

            ion-input{
                margin-bottom: 0.625em; /* 10/16 */
                font-size: 2.5rem;
                text-align: center;
                border: 0;
                 outline: 0;
                 background: transparent;
                 border-bottom: 0.0625em solid color($colors, primary); /* 1/16 */
                 margin-bottom: 1.625em !important; /* 26/16 */
                 position: relative;
            }
            button{
                margin-top: -14.4375em; /* 231/16 */
                margin-left: 7.5em; /* 120/16 */
                background-position: center;
                transition: background 0.8s;
            }
        }
        .go-back-button {
              background-position: center;
              transition: background 0.8s;
        }
        .go-back-button:active {
              color: white;
              background-color: color($colors, primary);
              background-size: 100%;
              transition: background 0s;
        }
        .go-back-button{
            position: fixed;
            margin-left: -11.875em; /* 190/16 */
            margin-top: -9.375em; /* 150/16 */
            background-color: transparent;
            color: black;
            ion-icon{
                font-size: 5em;
            }
        }
        #lastSlide{
            button{
                margin-left: -18.125em; /* 290/16 */
                margin-top: -7.5em; /* 120/16 */
            }
        }
    input::-webkit-input-placeholder {
        font-size: 2.3rem;
    }
    .lightning{
        ion-icon{
            font-size: 3.5em;
           color: color($colors, primary);
        }
    }
    #submit{
        margin-left: 0em !important; /* 0/16 */
        margin-top: 0em !important; /* 0/16 */
    }
.toolbar-ios-light .toolbar-title-ios, .toolbar-ios-light .bar-button-clear-ios, .toolbar-ios-light .bar-button-default-ios {
    color: #fff;
}

}

}