page-sendfeed {
	.toolbar-background{
		background-color: #15a88b;
	}
	ion-navbar{
		height: 50px;

	}
	ion-content{
		position: fixed;
		top: -20px
	}

	img{
		margin: auto;
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 70px;
		display: block;
		position: relative;
		top: -47px;
	}
	#name{
		position: relative;
		margin: auto;
		width: 50%;
		top: -40px;
		display: block;
		text-align: center;
		color: #55575b; 
	}
	#A2{
		position: relative;
		margin: auto;
		width: 50%;
		top: 30px;
		display: block;
		color: #55575b; 
	}

	#A3{
		position: relative;
		margin: auto;
		display: block;
		width: 300px;
		height: 200px;
		top: 0px;
		border: 0.1em solid;
		color: #55575b; 	
		border-radius: 5px;
	}

	#A4{
		// position: relative;
		margin: auto auto 15px auto;
		// display: block;
		width: 300px;
		// height: 60px;
		// top:-30px;
		border: 0.1em solid;
		color: #55575b; 
		border-radius: 5px;
	}

	ion-toggle{
		position: relative;
		left: 290px;
		top: -50px;
		display: block;
	}

	b{
		color: #55575b; 
		display: block;
		position: relative;
		left: 100px;
	}
	span{
		color: white;
	}

	input::-webkit-input-placeholder {
		font-size: 2.5rem;
		text-align: center;
	}
 

	input[type="text"] {
		font-size: 2.5rem;
		text-align: center;
	}

}
