@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?o66bi8');
  src:  url('../assets/fonts/icomoon.eot?o66bi8#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?o66bi8') format('truetype'),
    url('../assets/fonts/icomoon.woff?o66bi8') format('woff'),
    url('../assets/fonts/icomoon.svg?o66bi8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.noted-logo:before,
.ion-ios-noted-logo:before ,
.ion-ios-noted-logo-outline:before ,
.ion-md-noted-logo:before ,
.ion-md-noted-logo-outline:before, {
  content: "\e900";
  // color: #fff;
  font-size: 6.0rem !important;
}


.eoko-logo:before,
.ion-ios-eoko-logo:before ,
.ion-ios-eoko-logo-outline:before ,
.ion-md-eoko-logo:before ,
.ion-md-eoko-logo-outline:before, {
  content: "\e904";
  // color: none;
  outline: #757575;
}
