page-message-detail {
    ion-card {
        border-radius: 1em !important;
    }
    .message-sender {
        background-color: #76a5af;
        width: 80%;
        margin-left: auto;
        color:#fff

    }

}
