page-message-detail {
    ion-card {
        border-radius: 1em !important;
    }
    .message-sender {
        background-color: #00ba99;
        width: 80%;
        margin-left: auto;
        color:#ffff

    }

}
