page-message-detail {
	ion-header{
		#flag-Button{
            font-size: 20px;
            float: right;
            top: -47px;
        }
	}
    ion-card {
        border-radius: 1em !important;
    }
    .message-sender {
        background-color:#3a3535;
        width: 80%;
        margin-left: auto;
        color:#fff

    }

}
