<!--
  Generated template for the MessageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-item no-lines color="primary">
         <ion-avatar item-left><img [src]="otherData?.photourl"></ion-avatar>
        <p>{{otherData?.firstname}} {{otherData?.lastname}}</p>
    </ion-item>  -->
    <ion-title> <span class = "name-title">{{otherData?.firstname}} {{otherData?.lastname}}</span></ion-title>
  </ion-navbar>
  <button ion-button small id = "flag-Button" (click) = "flagUser()">
    <ion-icon name="ios-flag"></ion-icon>
  </button>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let chat of chatData | async" (click)="logChat(chat)">
      <!-- If you're the sender -->
      <ion-card text-wrap class="message-sender">
        <ion-card-content *ngIf="chat.sender == usrID">{{chat.text}}</ion-card-content>

      </ion-card>

      <!-- If you're the receiver -->
      <ion-card text-wrap class = "message-receiver" *ngIf="chat.receiver == usrID">
          <ion-card-content>{{chat.text}}</ion-card-content>
      </ion-card>


    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
    <ion-toolbar>
      <form>
        <ion-item>
          <ion-input autocomplete autocorrect type="text" placeholder="Write a message" name="messageText" [(ngModel)]="messageText"></ion-input>
        </ion-item>
      </form>

      <ion-buttons end>
        <button ion-button icon-right color="primary" (click)="sendMessage(messageText)">
          Send
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
